
    <div class="modal-content col-12" style="margin-top: 0%">
      <div class="Contenedor modal-body m-0 p-0">
        <p class="modal-title modalCustom">IDENTIFICATION CARD</p>
        
        <div
          class="margin"
          [ngStyle]="{
            'border-color':
              character?.species === 'Human'
                ? '#3E6562'
                : character?.species === 'Alien'
                ? '#05930B'
                : character?.species === 'Mythological Creature'
                ? '#09ABBC'
                : 'black'
          }"
        >
          <div class="infoCard">
            <img src="{{ character?.image }}" alt="" />
    
            <dl>
              <dt class="card name">Nombre</dt>
              <dd class="card Name">{{ character?.name }}</dd>
            </dl>
            <div class="contendorInfo">
              <div class="Gender">
                <dl>
                  <dt class="card gender">Genero</dt>
                  <dd class="card gender">{{ character?.gender }}</dd>
                </dl>
              </div>
              <div class="Procedencia">
                <dl>
                  <dt class="card procedencia">Procedencia</dt>
                  <dd class="card procedencia">{{ character?.location?.name }}</dd>
                </dl>
              </div>
            </div>
    
            <div class="d-grid gap-1">
              <button
                class="btn btn-primary btn-block"
                type="button"
                [ngStyle]="{
                  'background-color':
                    character?.species === 'Human'
                      ? '#3E6562'
                      : character?.species === 'Alien'
                      ? '#05930B'
                      : character?.species === 'Mythological Creature'
                      ? '#09ABBC'
                      : 'black'
                }"
                (click)="onButton()"
                style="margin-bottom: 5%"
              >
                Capítulos de aparición
              </button>
            </div>
            <div class="capitulos" *ngIf="buttonActivate">
              <ul
                style="
                  display: inline-block;
                  align-items: center;
                  list-style: none;
                  width: 100%;
                  padding: 0%;
                  margin: 0%;
                  overflow-x: auto;
                  white-space: nowrap
                "
              >
                <li
                  *ngFor="let episode of character?.episode"
                  style="font-size: 0.9rem; padding: 3px; margin-top: 1px; vertical-align: top; "
                >
                  {{ episode }}
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  






