@import '/src/styles.scss';

.notFound-Container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: aqua;
}

img {
    width: 30%;
}

.Number{
    font-family:$primary-font;
    font-size: 3rem;
    margin: 0%;
}

.descrip {
    font-family:$secondary-font;
    font-size: 1.2rem;
}