@import '/src/styles.scss';

div {
    background-color: $login-background;
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    color: #F5F5F5;
}

p {
    padding: 1%;
    font-family: $primary-font;
    color: #ffffff;
}