@import 'bootstrap/scss/bootstrap';

*, body {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

/******** Fuentes tipograficas **********/
$primary-font: "Audiowide", sans-serif;
$secondary-font: "Jura", sans-serif;


/******** Paleta de color **********/
$login-background: #3E6562;
$cards: #F3F7F0;

