@import '~bootstrap/dist/css/bootstrap.min.css';

:root {
    --color-bg-login: #3E6562;
    --color-bg-home: #ffffff; 
}

/******** Fuentes tipograficas **********/
$primary-font: "Audiowide", sans-serif;
$secondary-font: "Jura", sans-serif;


/******** Paleta de color **********/
$login-background: #3E6562;